@import url('https://fonts.googleapis.com/css2?family=Emilys+Candy&display=swap');

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  font-family: "Emilys Candy", serif;
}

.background-image-wrapper {
  position: absolute;
}

.background-image {
  position: relative;
  z-index: -1;
  scale: 1.3;
  filter: blur(5px);
}

#cursor {
  position: fixed;
  height: 20px;
  width: 5px;
  pointer-events: none;
  transition: scale ease-out 0.15s, background-color linear 120ms;
}

#cursor img {
  height: 35px;
}

.main-content-wrapper {
  height: inherit;
  width: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* From https://css.glass */
  background: rgba(122, 8, 84, 0.31);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.5px);
  -webkit-backdrop-filter: blur(9.5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding-inline: 50px;
  padding-block: 30px;
  font-size: 25px;
  color: rgb(255, 174, 248);
  transition: 0.3s;
}

.main-content .title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hamster-emoji {
  height: 100px;
  margin-top: -15px;
  margin-left: 10px;
}

.main-content .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
}

.main-content .buttons button {
  min-height: 60px;
  width: 180px;
  font-family: "Emilys Candy", serif;
  font-size: 25px;
  transition: 0.25s;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  padding-inline: 20px;
  padding-block: 20px;
}

.main-content .buttons button:hover {
  background-color: transparent;
}

.main-content .buttons .yes {
  background-color: rgb(36, 155, 56);
  border: 2px solid rgb(36, 155, 56);
}

.main-content .buttons .no {
  background-color: rgb(155, 36, 36);
  border: 2px solid rgb(155, 36, 36);
}